@import "../styles/global.css";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-shade-0); /* Cor de fundo do cabeçalho */
    padding: 1rem 0; /* Espaçamento interno do cabeçalho */
    color: #fff; /* Cor do texto no cabeçalho */
  }
  
  .logo {
    font-size: 1.5rem; /* Tamanho do texto do logo */
    font-weight: bold; /* Texto em negrito */
    align-self: center;
    height: 100%;
  }

  