  /* Animação de fade-in */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


  /* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .products-list {
      flex-direction: column;
      align-items: center;
    }
  
    .product-card {
      width: 90%;
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .header h1 {
      font-size: 2.5em;
    }
  
    .header p {
      font-size: 1em;
    }
  }
  
  .home{
    font-family: 'Arial', sans-serif;
    margin-top: 100px;
    padding: 20px;
    background: linear-gradient(135deg, #f9f9f9 0%, #ffe0e6 100%);
}

  
